<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a *ngIf="!isAuthenticated" routerLink="/" class="navbar-brand">REQ | RES</a>
      <a *ngIf="isAuthenticated" class="navbar-brand">REQ | RES</a>
    </div>

    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">
      <ul class="nav navbar-nav" >
        <li routerLinkActive="active">
          <a routerLink="/users">All users</a>
        </li>
        <li routerLinkActive="active" >
          <a routerLink="/create-user">Create new user</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"
            >{{ userEmail }} <span class="caret"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

