<div class="row">
    <div *ngIf = "currentPage" class="col-xs-10 col-md-6 col-md-offset-3">
      <p *ngIf="currentPage && currentPage.data.length < 1 && !isFetching">No users available!</p>
      <ul class="list-group"  *ngIf="currentPage && currentPage.data.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let user of currentPage.data; let i = index">
         <p>
           <img src= {{user.avatar}} alt="userImg" width="50" height="50">
           {{ user.first_name }} {{user.last_name}} 
          <button class = "btn btn-danger" style="float: right; margin-left:5px;" (click) = "onDelete(i)">Delete</button> 
          <button class = "btn btn-primary" style="float: right;" (click) = "onUpdate(user.id)">Update</button>
        </p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
      </div>
      <button class = "btn btn-link" *ngFor = "let page of [].constructor(currentPage.total_pages), let i = index" (click) = "changePage(i+1)">Page {{i+1}}</button>
    </div>
  </div>
