body {
    background-image: url("https://images.pexels.com/photos/619950/pexels-photo-619950.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }